@model RealEstateAuction.Models.Auction
@using RealEstateAuction.Models
@using RealEstateAuction.DAL
@using System.Security.Claims

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi tiết đấu giá";

    int? userId = null;
    if (User.Identity.IsAuthenticated)
    {
        userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
    }

    var disabled = "";
    var auctionStatus = "";
    DateTime time;
    var startPrice = "";
    var maxBidding = "";
}
<!-- using library to display slider image -->
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


<section class="max-width-section py-4 row" id="auction-lot-detail">
    <div class="col-12 col-md-8 order-md-1 order-2">
        <div class="p-5">
            <div class="slider slider-show-image">
                <!-- list all image you have here -->
                @foreach (var image in Model.Images)
                {
                    <img style="width: 100%; height: 400px; object-fit: contain; border-radius: 8px;"
                         src="@Url.Content(image.Url)"
                         alt="book-shop">
                }
            </div>
            <div class="slider slider-list-image">
                <!-- list all image you have here -->
                <!-- list all image you have here -->
                @foreach (var image in Model.Images)
                {
                    <img style="width: 100%; height: 400px; object-fit: contain; border-radius: 8px;"
                         src="@Url.Content(image.Url)"
                         alt="book-shop">
                }
            </div>
        </div>
        <div class="section-line mt-4"></div>
        <div>
            <div class="section-line"></div>
            <div class="py-4" style="border-bottom: 1px solid #bac4c9;">
                <div class="d-flex justify-content-between align-items-center cursor-pointer"
                     data-bs-toggle="collapse" data-bs-target="#collapseOverview" aria-expanded="false"
                     aria-controls="collapseOverview">
                    <div class="h3 fw-light">
                        Thông tin thêm
                    </div>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="collapse" id="collapseOverview">
                    <div class="d-flex flex-column gap-3 mt-2">
                        <div class="head-detail">
                            <div>
                                <div class="d-flex">
                                    <p class="fw-bold">Diện tích bất động sản: </p>
                                    <p class="ms-2"> @Model.Area m<sup>2</sup></p>
                                </div>
                                <div class="d-flex">
                                    <p class="fw-bold">Mặt tiền: </p>
                                    <p class="ms-2"> @Model.Facade m<sup>2</sup></p>
                                </div>
                                <div class="d-flex">
                                    <p class="fw-bold">Hướng bất động sản: </p>
                                    <p class="ms-2"> @Model.Direction</p>
                                </div>
                                <div>
                                    <p class="fw-bold">Mô tả thêm:</p>
                                    @Model.Description
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 order-md-2 order-1">
        <div class="mb-4" style="padding: 30px 20px; background-color: #f1f3f4; font-weight: 300;">
            <div>
                @if (Model.StartPrice > 0)
                {
                    startPrice = Model.StartPrice.ToString("N1", System.Globalization.CultureInfo.InvariantCulture) + "đ";
                }
                else
                {
                    startPrice = "Chưa xác định";
                }
                Giá: @startPrice - @Model.EndPrice.ToString("N1", System.Globalization.CultureInfo.InvariantCulture)đ
            </div>
            <p class="m-0">
                <span style="font-size: 16px;
                        font-weight: 300;
                        color: #666;">Giá đấu cao nhất hiện tại:
                    @if (ViewBag.MaxPrice > 0)
                    {
                        maxBidding = ViewBag.MaxPrice.ToString("N1", System.Globalization.CultureInfo.InvariantCulture) + "đ";
                    }
                    else
                    {
                        maxBidding = "Chưa xác định";
                    }
                    @maxBidding
                </span>
            </p>
            <p class="m-0">
                <span style="font-size: 16px;
                        font-weight: 300;
                        color: #666;">@ViewBag.BiddingCount lượt đấu giá</span>
            </p>
            <div class="mt-3">
                <form action="bidding-auction" method="post">
                    <div>Đặt giá:</div>
                    <input type="hidden" name="AuctionId" value="@Model.Id" />
                    <input type="hidden" name="MemberId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />

                    <input type="text" class="form-control" name="BiddingPrice" pattern="[0-9]+(\.[0-9]+)?" required
                           oninvalid="this.setCustomValidity('Vui lòng nhập số!')"
                           oninput="this.setCustomValidity('')" />

                    <button id="btn-bidding" type="submit" class="btn btn-secondary mt-2 w-100"
                    @*Disable button if user is not logged in*@
                    @if (!User.Identity.IsAuthenticated)
                    {
                        disabled = "disabled";
                    }
                    @disabled
                            style="background-color: #222222;">
                        Đấu giá
                    </button>

                    <div class="mt-1 mb-3">
                        <span style="font-size: 12px;">
                            <i class="fa fa-lock me-1"></i>
                            Tham gia phiên đấu giá trước khi đặt giá
                        </span>
                    </div>
                    <a href="#" class="text-decoration-none cursor-pointer">
                        @if (Model.StartTime > DateTime.Now)
                        {
                            auctionStatus = "Phiên đấu giá bắt đầu sau:";
                        }
                        else
                        {
                            auctionStatus = "Phiên đấu giá kết thúc sau:";
                        }
                        @auctionStatus
                    </a>
                </form>
                <div class="mt-4 d-flex justify-content-center">
                    <p id="timerCounter" style="color:red; font-weight:bold"></p>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <a style="font-size: 18px;
                    color: #222;
                    font-weight: 500;" href="/catalog/RQKWI3TOQN" rel="noreferrer" target="_blank">
                Địa chỉ: @Model.Address
            </a>
            <div style="font-weight: 300;" class="mt-2">
                <span class="me-3">@Model.StartTime - @Model.EndTime</span>
            </div>
            <div class="mt-3 mb-3">
                <p class="m-0" style="color: #e4002b;">Tham gia đấu giá ngay!</p>
            </div>
            @*check if user join auction or not*@
            @if (User.Identity.IsAuthenticated)
            {
                if (Model.Users.Any(u => u.Id == userId.Value))
                {
                    <button class="btn btn-danger w-100" disabled>
                        Bạn đã tham gia đấu giá
                    </button>
                }
                else
                {
                    <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#myModal">
                        Tham gia đấu giá
                    </button>
                }
            }
            else
            {
                <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#myModal">
                    Tham gia đấu giá
                </button>
            }

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="get" action="join-auction">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xác nhận tham gia đấu giá</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Bạn có đồng ý tham gia phiên đấu giá này?
                                </p>
                            </div>
                            <input type="hidden" name="auctionId" value="@Model.Id" />
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Tham gia</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-line mb-4"></div>

        <div>
            <div class="row">
                <div class="col-3">
                    <div class="w-100 ratio ratio-1x1" style="border: 1px solid #f1f3f4;">
                        <img class="w-100 object-fit-contain"
                             src="https://st3.depositphotos.com/9998432/13335/v/450/depositphotos_133352156-stock-illustration-default-placeholder-profile-icon.jpg"
                             alt="">
                    </div>
                </div>
                <div class="col-9">
                    <div class="fs-4 fw-bold">
                        @Model.User.FullName
                    </div>
                    <a class="text-decoration-none cursor-pointer mt-1">View seller profile</a>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2 mt-2">
                <button class="btn btn-outline-secondary">
                    Contact
                </button>
                <button class="btn btn-secondary w-100">
                    + Follow This Seller
                </button>
            </div>
        </div>
        <div class="mt-3">
            <h4>
                Danh sách đấu giá
            </h4>
            <div class="list-participant border border-3 rounded-2 overflow-y-scroll"
                 style="height: 300px">
                @if (Model.AuctionBiddings == null)
                {
                    <p>Chưa có người chơi nào đặt giá</p>
                }
                @foreach (var ab in Model.AuctionBiddings)
                {
                    <p>Đã có 1 người chơi đặt giá: <strong class="alert">@ab.BiddingPrice.ToString("N1") đ</strong></p>
                }
            </div>
        </div>

    </div>
</section>

<!--Slide images-->
<script>
    $('.slider-show-image').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-list-image'
    });
    $('.slider-list-image').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-show-image',
        focusOnSelect: true
    });
</script>

<!--Time Counter-->
<script>
    // Set the date we're counting down to
    @if (Model.StartTime > DateTime.Now)
    {
        time = Model.StartTime;
    }
    else
    {
        time = Model.EndTime;
    }

    var time = '@time';
    var countDownDate = new Date(time).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("timerCounter").innerHTML = days + "ngày " + hours + "giờ "
            + minutes + "phút " + seconds + "giây ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timerCounter").innerHTML = "Phiên đấu giá đã kết thúc!";
            document.getElementById("btn-bidding").disabled = true;
        }
    }, 1000);
</script>