@model RealEstateAuction.Models.Auction
@using RealEstateAuction.Enums
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewData["Title"] = "Cập nhật phiên đấu giá";
    var winner = (AuctionBidding)ViewData["Winner"];
}
<h2>Cập nhật phiên đấu giá</h2>
<hr>
@using (Html.BeginForm("EditAuction", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-6">
            <div class="input-group mt-3">
                <span class="input-group-text">Tiêu đề</span>
                <input asp-for=Title type="text" class="form-control" readonly>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Giá khời điểm (VNĐ)</span>
                <input asp-for=StartPrice type="text" class="form-control" value="@Model.StartPrice.ToString("N1", System.Globalization.CultureInfo.InvariantCulture)" readonly />
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Giá kết thúc (VNĐ)</span>
                <input asp-for=EndPrice type="text" class="form-control" value="@Model.EndPrice.ToString("N1", System.Globalization.CultureInfo.InvariantCulture)" readonly>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Diện tích (m2)</span>
                <input asp-for=Area type="text" class="form-control" readonly>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Địa chỉ</span>
                <input asp-for=Address type="text" class="form-control" readonly>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Mặt tiền (m)
                </span>
                <input asp-for=Facade type="text" class="form-control" readonly>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Hướng bất động sản
                </span>
                <input asp-for=Direction type="text" class="form-control" readonly>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Mô tả
                </span>
                <textarea asp-for=Description rows="10" class="form-control" disabled></textarea>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Ảnh
                </span>
            </div>

            <!--Display image of auction-->
            <div class="mt-3 d-flex gap-3">
                @foreach (var image in Model.Images)
                {
                    <img src="@Url.Content(image.Url)" height="150" width="150">
                }
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Thời gian bắt đầu
                </span>
                <input asp-for=StartTime type="datetime-local" class="form-control" readonly>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">
                    Thời gian kết thúc
                </span>
                <input asp-for=EndTime type="datetime-local" class="form-control" readonly>
            </div>


            @if (Model.Status == 1)
            {
                <div class="w-100 d-flex justify-content-center mt-3 gap-3">
                    <a class="btn btn-success btnStatus" data-bs-toggle="modal" data-bs-target="#modalApproveAuction" data-id="@Model.Id"
                       data-status="@((int)AuctionStatus.Chấp_nhân)">Chấp nhận</a>
                    <a class="btn btn-danger btnStatus" data-bs-toggle="modal" data-bs-target="#modalRejectAuction" data-id="@Model.Id"
                       data-status="@((int)AuctionStatus.Từ_chối)">Từ chối</a>
                </div>
            }

            <div class="w-100 d-flex justify-content-center">
                <a class="btn btn-primary mt-3" onclick="GoBack()">Quay lại</a>
            </div>

        </div>
        
            <div class="col-6">
                <div class="w-100 border border-2 rounded-3">
                    <div class="d-flex justify-content-center">
                        <h3 class="text-danger">Người chiến thắng: @winner?.Member.FullName</h3>
                    </div>
                    <table class="table mb-3">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Họ và tên</th>
                                <th>Số điện thoại</th>
                                <th>Số tiền đặt</th>
                                <th>Thời gian đặt</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (winner != null)
                        {
                            <tr>
                                <td>
                                    <!--Get the first image of auciton-->
                                    <img src="https://st3.depositphotos.com/9998432/13335/v/450/depositphotos_133352156-stock-illustration-default-placeholder-profile-icon.jpg" height="100" width="100">
                                </td>
                                <td>
                                    @winner.Member.FullName
                                </td>
                                <td>
                                    @winner.Member.Phone
                                </td>
                                <td>
                                    @winner.BiddingPrice.ToString("N1")đ
                                </td>
                                <td>
                                    @winner.TimeBidding
                                </td>
                            </tr>
                        } else
                        {
                            <tr>
                                <td class="text-danger text-center" colspan="5">Không có người chiến thắng</td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
            </div>
                
    </div>
}
@await Html.PartialAsync("Modals/Auction/RejectConfirm")
@await Html.PartialAsync("Modals/Auction/ApproveConfirm")
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".btnStatus").click(function () {
                $("#idUpdate").val($(this).data("id"))
                $("#statusUpdate").val($(this).data("status"))
                console.log($(this).data("id"))
            })

            $(".btnStatus").click(function () {
                $("#id").val($(this).data("id"))
                $("#status").val($(this).data("status"))
                console.log($(this).data("id"))
            })
        })
    </script>
}
